<div class="container">
  
     <h1 style="margin-top:20px; text-align: center;">수정 페이지</h1>
  
     <form action="/home/reply_update_real/<%=@post.id%>" method="post">
  
       <div class="form-group">
         <label for="title">댓글</label>
        <input type="string" class="form-control" name="title"
        value="<%=@post.title_db %>" placeholder="댓글을 입력하세요.">
      </div>
 
      <center> <button type="submit" class="btn btn-default">Submit</button> </center>
    </form>
  </div>
